* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

body {
    background-color: #424449;
}

.header {
    background-color: #ef8354;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
}
.logo {
    display: flex;
    align-items: center;
    min-width: 400px;
}

.logo h1 {
    display: inline;
    font-size: 2.5rem;
    margin-left: 14px;
}

svg {
    stroke: transparent;
    stroke-width: 0px;
}

.logo svg {
    max-width: 75px;
    max-height: 75px;
}

button {
    background-color: transparent;
    min-width: 50px;
    border: 0px;
}

button:hover {
    cursor: pointer
}

.add-book-modal {
    width: 15%;
    height: 40%;

    overflow: hidden;

    justify-self: center;
    align-self: center;

    border: 0px;
    background-color: #424449;
    --s: 50px; /* the size on the corner */
    --t: 8px;  /* the thickness of the border */
    --g: 0px; /* the gap between the border and image */
  
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #ef8354; /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}

::backdrop {
    background-color: #000;
    opacity: 0.35;
}

.add-book-modal form {
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
    color: #fff;
}

.add-book-modal p {
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
}

.add-book-modal input, select{
    min-height: 2.4rem;
    margin-bottom: 1rem;
    border: 0px;
    border-radius: 10px;
    background-color: #4e525b;
    color: #fff;
    padding-left: 5%;
    font-size: 1rem;
}

.add-book-modal label {
    display: none;
}

input:focus {
    outline:1px solid #ef8354;
}

::placeholder {
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.add-book-modal button {
    min-height: 2.4rem;
    border: 0px;
    border-radius: 10px;
    background-color: #ef8354;
    color: #fff;
}


.library {
    padding: 3rem 15%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;;
    gap: 1rem;
}

.book-card {
    background-color: #4e525b;


    --s: 30px; /* the size on the corner */
    --t: 5px;  /* the thickness of the border */
    --g: 0px; /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #ef8354; /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}

.book-info {
    padding: 0 2rem 2.5rem 2rem;
    text-align: center;

    color: #fff;
}

.book-info p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.book-read {
    min-height: 2rem;
    min-width: 80%;
    border: 0px;
    border-radius: 10px;
    background-color: #ef8354;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.book-remove {
    width: 40px;
    text-align: start;
    position: relative;
    left: 57%;
}

.book-remove svg {
    max-width: 40px;
}